#KEY
JWT_SECRET=

#APP CAST URL UPDATE
URL_APPCAST_ANDROID=https://example.com/app-cast/android.xml
URL_APPCAST_IOS=https://example.com/app-cast/ios.xml

NEX_APP_NAME="App Name"

# URL SSO
NEX_BE_DEV=https://api.dev.example.com
NEX_BE_STAGING=https://api.staging.example.com
NEX_BE_PROD=https://api.example.com

# URL FE
NEX_FE_DEV=https://dev.example.com
NEX_FE_STAGING=https://staging.example.com
NEX_FE_PROD=https://example.com

# URL CDN
CDN_DEV=https://static.dev.example.com
CDN_STAGING=https://static.staging.example.com
CDN_PROD=https://static.example.com

#FIREBASE OPTION
FIREBASE_PROJECT_ID_DEV=
FIREBASE_PROJECT_ID_STAGING=
FIREBASE_PROJECT_ID=

FIREBASE_STORAGE_BUCKET_DEV=
FIREBASE_STORAGE_BUCKET_STAGING=
FIREBASE_STORAGE_BUCKET=

FIREBASE_BUNDLE_ID_DEV=
FIREBASE_BUNDLE_ID_STAGING=
FIREBASE_BUNDLE_ID=

FIREBASE_MESSAGING_SENDER_ID_DEV=
FIREBASE_MESSAGING_SENDER_ID_STAGING=
FIREBASE_MESSAGING_SENDER_ID=
#FIREBASE OPTION ANDROID
ANDROID_FIREBASE_API_KEY_DEV=
ANDROID_FIREBASE_API_KEY_STAGING=
ANDROID_FIREBASE_API_KEY=

ANDROID_FIREBASE_APPID_DEV=
ANDROID_FIREBASE_APPID_STAGING=
ANDROID_FIREBASE_APPID=
#FIREBASE OPTION IOS
IOS_FIREBASE_API_KEY_DEV=
IOS_FIREBASE_API_KEY_STAGING=
IOS_FIREBASE_API_KEY=

IOS_FIREBASE_APPID_DEV=
IOS_FIREBASE_APPID_STAGING=
IOS_FIREBASE_APPID=

#MQTT DEV
MQTT_BROKER_URL_DEV=127.0.0.1
MQTT_BROKER_PORT_DEV=1883
MQTT_CLIENT_ID_DEV=app_
MQTT_USERNAME_DEV=
MQTT_PASSWORD_DEV=

#MQTT STAGING
MQTT_BROKER_URL_STAGING=
MQTT_BROKER_PORT_STAGING=1883
MQTT_CLIENT_ID_STAGING=app_
MQTT_USERNAME_STAGING=
MQTT_PASSWORD_STAGING=

#MQTT PROD
MQTT_BROKER_URL_PROD=
MQTT_BROKER_PORT_PROD=1883
MQTT_CLIENT_ID_PROD=app_
MQTT_USERNAME_PROD=
MQTT_PASSWORD_PROD=
